name: CI
run-name: "CI: feature-1 | DEBUG=${{ inputs.debug && 'ON' || 'OFF' }}"
on:
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: "new random checkbox"
        required: true
        default: false
env:
  OVERWRITE_VAR: "workflow-level"
  WORKFLOW_VAR: "workflow var"
        
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      OVERWRITE_VAR: "job-level"
      JOB_VAR: "job var"
    steps:
      - name: "[DEBUG] check the env"
        env:
          OVERWRITE_VAR: "step-level"
          STEP_VAR: "step var"
        run: |
          echo "this is feature-1 branch"
          echo "${{ env.OVERWRITE_VAR }}"
          echo "${{ env.STEP_VAR }}"
          echo "${{ env.JOB_VAR }}"
          echo "${{ env.WORKFLOW_VAR }}"


