name: CI
on:
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: "debug"
        required: true
        default: false
        
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "[DEBUG] check the env"
        if: ${{ inputs.debug == true }}
        run: |
          Branch name: ${{ github.ref }}
          Event name: ${{ github.event_name }}
          runner OS: ${{ runner.os }}
