name: CI
run-name: "CI: feature-1 | DEBUG=${{ inputs.debug && 'ON' || 'OFF' }}"
on:
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: "new random checkbox"
        required: true
        default: false
        
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "[DEBUG] check the env"
        if: ${{ inputs.debug == true && github.event_name == 'workflow_dispatch' }}
        run: |
          echo "this is feature-1 branch"
          echo "Branch name: ${{ github.ref }}"
          echo "Event name: ${{ github.event_name }}"
          echo "runner OS: ${{ runner.os }}"
