name: CI
'on':
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: check the folders in the root directory
        run: |-
          cd /
          ls -ltr
