name: CI
on:
  workflow_dispatch: 
    inputs:
      node-version:
        description: 'Node.js version to use'
        type: choice
        options: ['20', '22', '24']
        default: '16'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}

      - name: Download cached dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: node-modules-${{ hashFiles('./package-lock.json') }}
          restore-keys: |
            node-modules-
            node-
            modules-
            
      - name: Is cache found?
        run: echo 'cache-hit=${{ steps.cache.outputs.cache-hit }}'
        
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit == 'true'
        run: npm ci
      
      - name: Run tests
        run: echo "running the tests..."

      - name: Build project
        run: npm run build


      


