name: CI
run-name: "CI: feature-1 | DEPLOY"
on:
  workflow_dispatch:
        
jobs:
  prod-job-1:
    runs-on: ubuntu-latest
    environment: "prod"
    steps:
      - name: prod-job-1
        run: echo "prod job-1"
  dev-job-1:
    runs-on: ubuntu-latest
    needs: prod-job-1
    environment: "dev"
    steps:
      - name: dev-job-1
        run: echo "dev job-1"
  prod-job-2:
    runs-on: ubuntu-latest
    needs: dev-job-1
    environment: "prod"
    steps:
      - name: prod-job-2
        run: echo "prod job-2"
  prod-job-3:
    runs-on: ubuntu-latest
    needs: prod-job-2
    environment: "prod"
    steps:
      - name: prod-job-3
        run: echo "prod job-3"
      
      


