name: CI
on:
  workflow_dispatch:
        
jobs:
  build:
    name: "java-${{ matrix.java-version }}-spring-boot-${{ matrix.spring-boot-version }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java-version: [17, 21, 25]
        spring-boot-version: ['3.2.0', '3.5.9', '4.0.1']
    steps:
      - run: echo "executing..."
      - run: echo "java=${{ matrix.java-version }}, spring-boot=${{ matrix.spring-boot-version }}"
