name: CI
on:
  workflow_dispatch:
    inputs:
      build-status:
        description: 'Build status'
        required: true
        default: 'success'
        type: choice
        options: ["success", "failure"]
        
jobs:

  build:
    runs-on: ubuntu-latest
    outputs:
      name: ${{ steps.build.outputs.status }}
    steps:
      - name: Print GITHUB_OUTPUT path
        run: |
          echo "GITHUB_OUTPUT path: $GITHUB_OUTPUT"
      - name: build
        id: build
        run: echo "status=${{ inputs.build-status }}" >> "$GITHUB_OUTPUT"
        
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Print GITHUB_OUTPUT path
        if: ${{ needs.build.outputs.name == 'success' }}
        run: echo "deploying..."
  
