name: CI
run-name: "CI: feature-1 | DEBUG=${{ inputs.debug && 'ON' || 'OFF' }}"
on:
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: "debug"
        required: true
        default: false
      target_environment:
        type: environment
        description: target environment
        default: "dev"
        
jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target_environment }}
    steps:
      - name: "[DEBUG] check the env variables for serious projects"
        if: ${{ inputs.target_environment == 'prod' }}
        env: 
          ENV_SECRET: ${{ secrets.ENV_SECRET }}
        run: |
          echo "${{ vars.ENV_VAR || format('no variables found in {0} env', inputs.target_environment) }}"
          if [ -z "$ENV_SECRET" ]; then
            echo "no secrets found"
          else
            echo "secret is present"
          fi
  build-casual:
    runs-on: ubuntu-latest
    environment: uat
    steps:
      - name: "[DEBUG] check the env variables for non-serious projects"
        run: echo "casual ci on feature-1 branch"
      
      


