name: CI
on:
  workflow_dispatch:
    inputs:
      target:
        type: environment
        description: "target environment"
        required: true
        
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: check the folders in the root directory
        run: |-
          cd /
          ls -ltr
