name: CI
run-name: "CI: feature-1 | DEBUG=${{ inputs.debug && 'ON' || 'OFF' }}"
on:
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: "debug"
        required: true
        default: false
      target_environment:
        type: environment
        description: target environment
        default: "dev"
      project_type:
        type: choice
        description: project type
        options: [ "experimental", "serious", "hobby" ]
        
jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target_environment }}
    steps:
      - name: "[DEBUG] check the env variables for serious projects"
        if: ${{ inputs.project_type == 'serious' }}
        run: |
          echo "checking variables on feature-1 branch"
          echo "${{ vars.ENV_VAR }}"
          echo "${{ secrets.ENV_SECRET }}"
      
      - name: "[DEBUG] check the env variables for non-serious projects"
        if: ${{ inputs.project_type != 'serious' }}
        run: |
          echo "casual ci on feature-1 branch"


