name: my-workflow
on:
  push:
    branches: [ main ]
  schedule:
    - cron: '* * * * *'
  workflow_dispatch:

jobs:
  job_1:
    runs-on: ubuntu-latest
    steps:
      - name: Step 1
        run: echo "This is job 1, step 1"